<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->

    <div class="carousel-inner" role="listbox">



    <% @featured.each do |gear| %>
      <div class="item">
        <%= link_to  image_tag(gear.image.url(:large)), gear_path(gear) %>
        <div class="carousel-caption">
          Featuring <%= gear.model %>
        </div>
      </div>
    <% end %>
    </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- tiles -->
<div class="container">
<h1>Kitesurfing Reviews
</h1>
  <div class="row">
    <% @gears.all.each do |gear| %>
      <div class="col-xs-4"><%= gear.year%> <%= gear.brand %> <%= link_to gear.model, gear_path(gear) %> <br>
        <%= link_to  image_tag(gear.image.url(:medium)), gear_path(gear) %></div>
    <% end %>
  </div>
</div>
