<h1><%= @gear.year %> <%= @gear.brand%> <%= @gear.model%> <small><%= link_to 'Add Review', new_gear_review_path(@gear) %></small></h1>
 <%= image_tag @gear.image.url(:large)%>


<ul>
  <% @gear.reviews.each do |review| %>
    <li><%= link_to review.title, gear_review_path(@gear, review) %>
      <% review.rating.times do %>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <% end %>
    </li>
  <% end %>
</ul>
